* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: #8e879f;
    margin: 0;
    padding: 0;
}

.app {
    width: min(50vw, 500px);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30px;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#tasks {
    margin-top: 20px;
}

#tasks p {
    margin: 0;
    font-size: 16px;
    color: #300363;
}

#tasks {
    font-weight: bold;
}

.count-value {
    font-weight: bold;
    color: #FA2E7C;
}

#wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 1em;
}

input[type="text"] {
    flex: 1;
    background-color: transparent;
    padding: 10px;
    border: none;
    border-radius: 18px;
    outline: none;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #300363;
    color: #fff;
    border-radius: 18px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #FA2E7C;
}

#tasks {
    margin-top: 1em;
    border-radius: 0.5em;
    width: 100%;
    position: relative;
    padding: 1em 0.5em;
}

.task {
    background-color: #ffffff;
    padding: 0.8em 1em;
    display: grid;
    grid-template-columns: 1fr 8fr 2fr 2fr;
    gap: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.05);
    align-items: center;
}

.task:not(:first-child) {
    margin-top: 1em;
}

.taskname {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #2E2E2E;
}

.task input[type="checkbox"] {
    position: relative;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #e1e1e1;
    cursor: pointer;
}

.task input[type="checkbox"]::before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.task input[type="checkbox"]:checked {
    background-color: #541E92;
    border-color: #541E92;
}

.task input[type="checkbox"]:checked::before {
    position: absolute;
    content: "\f00c";
    color: #222;
    font-size: 0.8em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.task span {
    font: 0.9em;
    word-break: break-all;
    color: #300363;
}

.task button {
    color: #ffffff;
    width: 100%;
    padding: 1em 0;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    outline: none;
}

.edit, .delete {
    background-color: #300363;
}

.edit:hover, .delete:hover {
    background-color: #FA2E7C;
}

.completed {
    text-decoration: line-through;
    color: #a0a0a0;
}

#error {
    display: none;
    color: #FA2E7C;
    font-size: 14px;
    margin-top: -32px;
    padding: 15px 0px;
    text-align: center;
    background-color: #fff;
    border-radius: 0.8em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.05);
}


/* Your existing CSS */
#dark-mode-switch {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

#dark-mode-toggle {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border-radius: 17px;
    overflow: hidden;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #300363;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #FA2E7C;
}

input:focus + .slider {
    box-shadow: 0 0 1px #150f11;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.mode-text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #300363;
    margin-right: 8px;
}

/* Dark mode styles */
.dark-mode .container {
    background-color: #300363;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.dark-mode input[type="text"] {
    background-color: #300363;
    color: #fff;
}

.dark-mode button {
    background-color: #300363;
}

.dark-mode button:hover {
    background-color: #FA2E7C;
}

.dark-mode #add-btn {
    background-color: #541E92;
}

.dark-mode #add-btn:hover {
    background-color: #FA2E7C;
}

.dark-mode #error {
    color: #e1e1e1;
    background-color: #300363;
}

.dark-mode .count-value {
    color: #FA2E7C;
}

.dark-mode #pending-tasks {
    color: #e1e1e1;
}

.dark-mode .task input[type="checkbox"] {
    position: relative;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #e1e1e1;
}

.dark-mode .task input[type="checkbox"]::before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.dark-mode .task input[type="checkbox"]:checked {
    background-color: #FA2E7C;
    border-color: #FA2E7C;
}

.dark-mode .task input[type="checkbox"]:checked::before {
    position: absolute;
    content: "\f00c";
    color: #e1e1e1;
    font-size: 0.8em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.dark-mode .mode-text {
    color: #e1e1e1;
}

.dark-mode .task {
    background-color: #541E92
}

.dark-mode .task input[type="checkbox"] {
    background-color: #ccc;
}

.dark-mode .task span{
    color: #ccc;
}